<div class="cont">
  <h2 class="title">Piano for beginners!</h2>
  <div class="wrapper">
    <button class="btn btn-dark" (click)="handlerOne()">A</button>
    <button class="btn btn-dark" (click)="handlerTwo()">B</button>
    <button class="btn btn-dark" (click)="handlerThree()">BB</button>
    <button class="btn btn-dark" (click)="handlerFour()">C</button>
    <button class="btn btn-dark" (click)="handlerFive()">C</button>
    <button class="btn btn-dark" (click)="handlerSix()">D</button>
    <button class="btn btn-dark" (click)="handlerSeven()">E</button>
    <button class="btn btn-dark" (click)="handlerEight()">EB</button>
    <button class="btn btn-dark" (click)="handlerNine()">F</button>
    <button class="btn btn-dark" (click)="handlerTen()">F</button>
    <button class="btn btn-dark" (click)="handlerEleven()">G</button>
    <button class="btn btn-dark" (click)="handlerTwelve()">G</button>
  </div>
  <!-- <img src="../../../assets/Sounds/Piano-notes/68438__pinkyfinger__piano-b.wav" alt=""> -->
</div>
